.btn-change {
	padding: 14px !important;
	border: 0px;
}
.btn-delete {
	padding: 14px !important;
	border: 0px;
}
.btn-lg {
	display: block;
	position: relative;
	z-index: 2;
}
.form-control_pl {
	&::placeholder {
		color: #212529;
	}
}
.sidebar .nav .nav-item.active > .nav-link i.menu-arrow::before {
	transform: rotate(-90deg);
}
.df-it {
	display: flex;
	align-items: center;
	column-gap: 15px;
}
.df-it-sp {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mar-r {
	margin-right: 15px;
}
.mar-n {
	margin-left: 4px;
}
.users-header {
	align-items: end;
	select.form-control,
	select.asColorPicker-input,
	.dataTables_wrapper select,
	.jsgrid .jsgrid-table .jsgrid-filter-row select,
	.select2-container--default select.select2-selection--single,
	.select2-container--default
		.select2-selection--single
		select.select2-search__field,
	select.typeahead,
	select.tt-query,
	select.tt-hint {
		border-radius: 1px;
		padding: 6px 0;
		padding-left: 4px;
		background-color: #f1f0f0;
		color: #c9c8c8;
		background-color: #e9ecef;
		width: 70px;
		color: #c9c8c8;
	}
}

.min-wid-cl {
	width: 342px;
}
.jc-nd {
	justify-content: end;
}
.storage-table {
	.table,
	.jsgrid .jsgrid-table {
		--bs-table-accent-bg: none;
		border-color: rgb(255, 255, 255);
	}
	#sortable-table-1 {
		border-color: #c9ccd7;
	}
}
.table-responsive {
	#order-listing {
		margin-bottom: 193px !important;
	}
}

div.dataTables_wrapper div.dataTables_length select {
	background-color: #e9ecef;
	color: #c9c8c8;
	height: 27px;
	width: 87px;
}
.table-pa {
	padding: 0 !important;
}
.form-list {
	padding: 12px;
	list-style: none;
	background-color: #ededed;
	max-width: 505px;
	min-height: 116px;
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
		color: #212529;
		letter-spacing: 0em;
		text-align: left;
	}
	button {
		border-radius: 50%;
		border: none;
		color: #fff;
		width: 14px;
		height: 14px;
		font-family: Roboto;
		font-size: 9px;
		background-color: #ff4747;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.6s;
		&:hover {
			opacity: 0.7;
		}
	}
}
.icon-arrow-down-w {
	color: #1e91cf;
	width: 11px;
	height: 13px;
	transform: rotate(180deg);
}

.card-body-wid {
	.pad-btn {
		padding: 12px 14px;
	}
	.badge-row {
		display: flex;
		flex-direction: column;
		row-gap: 3px;
		p {
			border-radius: 3px;
			width: fit-content;
			padding-left: 17px;
			padding-right: 17px;
		}
	}
	background: none;
	.table,
	.jsgrid .jsgrid-table {
		--bs-table-accent-bg: #fff;
	}
	.dataTables_wrapper .dataTable .btn,
	.dataTables_wrapper .dataTable .fc button,
	.fc .dataTables_wrapper .dataTable button,
	.dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload,
	.ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload,
	.dataTables_wrapper
		.dataTable
		.swal2-modal
		.swal2-buttonswrapper
		.swal2-styled,
	.swal2-modal
		.swal2-buttonswrapper
		.dataTables_wrapper
		.dataTable
		.swal2-styled,
	.dataTables_wrapper .dataTable .wizard > .actions a,
	.wizard > .actions .dataTables_wrapper .dataTable a {
		padding: 12px;
	}
}
.table-bd {
	border-color: rgba(rgb(0, 0, 0), 0);
}

.orders-items {
	td {
		color: #545454;
	}
}
.orders-item {
	max-width: 135px;
	&__num {
		color: #000000;
		font-family: Open Sans;
		font-size: 12px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
}
.orders-item-client {
	&__name {
		font-size: 13px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		font-family: Open Sans;
	}
	&__text {
		font-size: 8px;
		font-weight: 800;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #121212;
		font-family: 'Open Sans', sans-serif;
	}
	&__num {
		font-family: 'Open Sans', sans-serif;
		font-size: 10px;
		font-weight: 400;
		line-height: 13px;
		letter-spacing: 0em;
		text-align: left;
		color: #a3a7ac;
	}
}
.orders-item-sum {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: left;
}
.orders-item-date {
	&__item {
		font-family: Open Sans;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
}
.dropdown .dropdown-menu .order-drop-item {
	column-gap: 31px;
	align-items: center;
	padding: 13px 5px;
	&__status {
		font-family: Roboto;
		font-size: 10px;
		font-weight: 400;
		line-height: 12px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__name {
		font-family: Roboto;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		color: #000000;
		letter-spacing: 0em;
		text-align: left;
	}
	&__text {
		color: #000000;
		font-family: Roboto;
		font-size: 10px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0em;
		text-align: left;
	}
	.status-disable {
		color: #ff4747;
	}
	.status-shortage {
		color: #f5a623;
	}
	.status-active {
		color: #00a72f;
	}
}
.dropdown-orders {
	.dropdown-toggle:after {
		margin-left: 0.5rem;
		margin-top: 0.3em;
	}
}
.dropdown .dropdown-toggle .order-drop-btn {
	&__title {
		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0em;
		text-align: center;
	}
	&__sub-title {
		font-family: Open Sans;
		font-size: 10px;
		font-weight: 400;
		line-height: 1;

		letter-spacing: 0em;
		text-align: left;
	}
}
.order-inform-pay {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: left;
}
.orders-delivery {
	button {
		border: 0;
		background: none;
		display: flex;
		transition: 0.3s;
		&::after {
			background-color: #248afd;
			color: #fff;
			border-radius: 50%;
			min-width: 14px;
			font-size: 8px !important;
			min-height: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.6s;
		}
		&:hover {
			color: #248afd;
		}
	}
	.show {
		&::after {
			transform: rotate(180deg);
		}
	}
}
.order-item-tags {
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: left;
	white-space:normal !important;
	&__text {
		max-width: 92px;
	}
}
.order-item-buttons{
	display: flex;
	&__btn{
		&:first-child{
			border-radius:4px 0 0 4px;
		}
	}
}
.card-body-inner {
	margin-top: 12px;
	display: flex;
	column-gap: 24px;
	justify-content: space-between;
	&__table {
		max-width: 1151px;
		width: 100%;
	}
	&__form {
		width: 100%;
		max-width: 353px;
	}
	&__header {
		padding: 13px 15px;
		background-color: #f8f9fa;
		border-bottom: #dcdcdc 1px solid;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		color: #4c4d5a;
		display: flex;
		align-items: center;
		column-gap: 5px;
		width: 100%;
		text-align: left;
		margin-bottom: 30px;
	}
	.form-group_bd {
		border-bottom: 1px solid #ededed;
		padding-bottom: 15px;
	}
	.form-group {
		margin-bottom: 1.1em;
	}
	p {
		margin-bottom: 0;
	}
	.form-select {
		height: 43px;
		&:focus {
			box-shadow: 0 0 0 gray;
		}
	}
}
.pagination-body-footer {
	justify-content: space-between;
	width: 100%;
	margin-top: 19px;
	align-items: center;
	&__text {
		font-family: Roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.bg-black {
	background-color: #151515;
	color: #fff;
	&:hover {
		background-color: #000000;
		color: #fff;
	}
}
.col-gap-df {
	column-gap: 6px;
}
.bg-new {
	background-color: #fd244b;
	color: #fff;
	&:hover {
		background-color: #b81331;
		color: #fff;
	}
}
.border-opacity {
	border-color: rgba(rgb(0, 0, 0), 0);
}
.row-gp {
	display: flex;
	flex-direction: column;
	p {
		margin-bottom: 2px;
		border-radius: 3px;
		display: inline;
		width: fit-content;
		padding: 2px 17px;
	}
}
@media (max-width: 1200px) {
	.min-wid-cl {
		width: auto;
	}
}
